.dashboard {
    @apply relative w-screen h-screen flex bg-white border-l-2;
}

.dashboard__sidebar--div {
    @apply w-52 fixed lg:static top-0 left-0 h-full z-40 transform -translate-x-full peer-checked:translate-x-0 transition-transform duration-300 lg:translate-x-0 flex-shrink-0 bg-white;
}

.dashboard__content {
    @apply w-full bg-[#f7f8fc] overflow-hidden overflow-y-scroll;
}

.dashboard__content>header {
    @apply flex items-center w-full h-20 px-4 bg-white;
}