.filters{
    height: calc(100% - 20px);
    max-height: calc(100% - 20px);
    overflow: auto;
    @apply flex flex-col gap-1 w-full p-4 rounded-2xl bg-white;
}
.filter__search-btn{
    @apply w-fit px-10 py-3 mx-auto my-1 font-bold rounded-md bg-blue-100 text-blue-600 border border-blue-600;
}
@media screen and (min-width:900px) {
    .filter__search-btn{
        @apply hidden;
    }
}