@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: rgba(146, 158, 243, 0.5) transparent;
}

/* WebKit: Chrome, Safari, Edge */
*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(33, 10, 187, 1);
    border-radius: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}