.search{
    @apply relative flex justify-between items-center gap-3;
}
.search > button{
    @apply px-4 py-3 rounded-lg bg-[#777CE4] text-white;
}
.search > label{
    @apply h-full min-w-0 bg-white rounded-lg border-2 border-white focus-within:border-blue-400;
}
.search > label > input{
    @apply h-full rounded-lg outline-none min-w-0;
}
.search__icon{
    @apply text-[#8A8A8A] w-8 cursor-text;
}
.filters-btn{
    @apply hidden items-center justify-center w-12 h-12 bg-[#777CE4] rounded-full text-white;
}
.filters--mobile{
    @apply fixed w-screen h-screen top-0 left-0 z-10;
}
@media screen and (max-width:900px) {
    .search{
        @apply w-full;
    }
    .search > label{
        @apply flex w-full rounded-full px-2 py-3 gap-2;
    }
    .search > button{
        @apply hidden;
    }
    .filters-btn{
        @apply flex shrink-0;
    }
}